<div class="bg-light p-5 rounded m-3">
  <h1 class="display-4">Bem-vindo ao DS News!</h1>
  <p class="lead">O melhor site de noticias de toda a ETEC!</p>
  <hr class="my-4" />
  <p>Aqui, você poderá ler sobre notícias de todo tipo de coisas.</p>
  <a class="btn btn-primary btn-lg" href="/usuarios/registro" role="button">Crie
    uma conta</a>
</div>

<hr />

<h2>Notícias recentes</h2>

{{#each noticias}}

  <div class="card mt-4">
    <div class="card-body">

      <h3>{{titulo}}</h3>
      <p>{{descricao}}</p>
      <a href="/noticia/{{slug}}"><button class="btn btn-success">Leia mais</button></a>
      <hr />
      <small>Categoria{{categoria.nome}}</small><br />
      <small>Data de publicação: {{data}}</small>
    </div>
  </div>

{{else}}
  <h5>Nenhuma notícia</h5>
{{/each}}